*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    /* font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif; */
}
body{
    background: #f1f2f6;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
:root{
    --bg-color: #f1f2f6;
    --fbblue-color:#1878f3;
    --fb-font: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    --text-color: #050505;
}

/* Navigation Bar Starts Here*/

nav{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 57px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position:sticky;
    top:0;
    z-index: 100;
    /* justify-content: space-between; */
}

/* Left Navbar */
nav .left-header{
    display: flex;
    align-items: center;
    margin: 0 12px;
    flex-basis: 29%;
}
.left-header img{
    width: 38px;
    margin-right: 10px;
}
.left-header .search-box{
    width: 242px;
    height: 38px;
    border-radius: 20px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    padding:0 15px;
    border: 1px solid var(--bg-color);
}
.search-box .fas{
    margin-right: 5px;
    color: #7a8087;
}
.search-box input{
    border:0;
    outline: none;
    /* background-color: #f1f2f7; */
    background: transparent;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0px;
    color: #7a8087;
}

/* middle navbar */

nav .center-header{
    display: flex;
    /* justify-content:space-between;
    height: auto; */
    flex-basis: 46%;
    margin-right: 12px;
}
.center-header .homeborder{
    max-width: 110px;
    height: 57px;
    background: transparent;
    border-radius: 10px 10px 0px 0px;
    padding: 18px 40px 0px 40px;
    margin-right: 8px;
    border-bottom: 3px solid var(--fbblue-color);
    cursor: pointer;
}
.homeborder img, .groupsborder img, .pagesborder img, .marketborder img, .watchborder img{
    width: 25px;
    /* color: #1979f3; */
}
.pagesborder:hover, .watchborder:hover, .marketborder:hover, .groupsborder:hover{
    background-color: var(--bg-color);
    border-radius: 10px;
}

.pagesborder, .watchborder, .marketborder, .groupsborder{
    max-width: 110px;
    height: 57px;
    /* border-radius: 10px; */
    padding: 18px 40px 0px 40px;
    margin-right: 8px;
    cursor: pointer;
    /* background-color: teal; */
}
/* .center-header .watchborder{
    max-width: 110px;
    height: 57px;
    border-radius: 10px;
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    background-color: teal;
}
.center-header .marketborder{
    max-width: 110px;
    height: 57px;
    border-radius: 10px;
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    background-color: teal;
}
.center-header .groupsborder{
    max-width: 110px;
    height: 57px;
    border-radius: 10px;
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    background-color: teal;
} */

nav .right-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-basis: 30%;
    background-color:violet; */
}
.right-header .profilebar{
    display: flex;
    align-items: center;
    font-family: var(--fb-font);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: var(--text-color);
    font-style: normal;
    height: 35px;
    width: 120px;
    margin-right: 10px;
    cursor: pointer;
}
.profilebar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid transparent;
    margin-right: 10px;
}
.profilebar:hover{
    background-color:var(--bg-color);
    border-radius: 20px;
}
.right-header .menu{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e5e6ea;
    border:1px solid #e5e6ea;
    cursor: pointer;
    margin: 5px; 
}
.menu img{
    height: 18px;
    width: 18px;
    margin: 11px;
}
.right-header .messenger-menu{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e5e6ea;
    border:1px solid #e5e6ea;
    cursor: pointer;
    margin: 5px; 
}
.messenger-menu img{
    height: 18px;
    width: 18px;
    margin: 11px;
}
.right-header .notifications-menu{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e5e6ea;
    border:1px solid #e5e6ea;
    cursor: pointer;
    margin: 5px; 
}
.notifications-menu img{
    height: 16px;
    width: 16px;
    margin: 12px;
}
.right-header .accounts-menu{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e5e6ea;
    border:1px solid #e5e6ea;
    cursor: pointer;
    margin: 5px; 
}
.accounts-menu img{
    height: 14px;
    width: 14px;
    margin: 13px;
}
/* Navigation Bar End Here*/

/* Container Box StartsHer*/

.container{
    display: flex;
}
.container .left-content{
    height: 100vh;
    /* background-color: violet; */
    flex-basis: 24%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 14px;
    margin-top: 18px;
}

/* left side menus starts here */

.leftside-profile, .leftside-friends, .leftside-pages, .leftside-groups, .leftside-marketplace, .leftside-watch, .leftside-events, .leftside-memories{
    display: flex;
    align-items: center;
    font-family: var(--fb-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--text-color);
    font-style: normal;
    height: 54px;
    width: 338px;
    margin-right: 10px;
    cursor: pointer;
}
.leftside-seemore{
    display: flex;
    align-items: center;
    font-family: var(--fb-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--text-color);
    font-style: normal;
    height: 54px;
    width: 338px;
    margin-right: 10px;
    cursor: pointer;
}
.leftside-profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border:1px solid transparent;
    margin-right: 12px;
    margin-left: 8px;
}
.leftside-friends img, .leftside-pages img, .leftside-groups img, .leftside-marketplace img, .leftside-watch img, .leftside-events img, .leftside-memories img{
    width: 36px;
    height: 36px;
    /* border-radius: 50%;
    border:1px solid #000; */
    margin-right: 12px;
    margin-left: 8px;
}
.leftside-seemore img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #e4e7eb;
    margin-right: 12px;
    margin-left: 8px;
}

/* All Leftsides:hoooover */
.leftside-profile:hover, .leftside-friends:hover .leftside-pages:hover, .leftside-groups:hover, .leftside-marketplace:hover, .leftside-watch:hover, .leftside-events:hover, .leftside-memories:hover, .leftside-seemore:hover{
    background-color: #e5e6ea;
    border-radius: 4px;
}

/* left side menus ends here */

hr{
    margin-top: 10px;
    width: 92%;
    color: #e7e9ec;
}

/* left side shortcut menus starts here */
.leftside-shortcuts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 35px;
    margin-bottom: 10px;
}
.leftside-shortcuts span{
    font-family: var(--fb-font);
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #65676b;
    font-style: normal;
}
.leftside-shortcuts .edit{
    font-family: var(--fb-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #216fdb;
    font-style: normal;
    /* display: none; */
    cursor:pointer;
}
.leftside-shortcuts .edit:after{
    background-color: #e5e6ea;
    border-radius: 4px;
    border: 1px solid #e5e6ea;
    /* display: inline-block; */
}

.shortcuts-groups{
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 14px;
    margin-top: 18px;
}
.leftside-shortcuts-android, .leftside-shortcuts-python{
    display: flex;
    align-items: center;
    font-family: var(--fb-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--text-color);
    font-style: normal;
    height: 54px;
    width: 338px;
    margin-right: 10px;
    cursor: pointer;  
}
.leftside-shortcuts-android img, .leftside-shortcuts-python img{
    width: 36px;
    height: 36px;
    /* border-radius: 50%;
    border:1px solid #000; */
    margin-right: 12px;
}
.leftside-shortcuts-android:hover, .leftside-shortcuts-python:hover{
    background-color: #e5e6ea;
    border-radius: 4px;
}




/* left side shortcut menus ends here */
/* Footer additionals starts here */
.footer-additionals{
    margin-top: 10px;
    max-width: 310px;
    margin-left: 14px;
}
.footer-additionals ul{
    list-style: none;
}
.footer-additionals ul li{
    /* text-decoration: none; */
    display: inline-block;
    font-family: var(--fb-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #65676b;
    font-style: normal;
    padding-right: 8px;
}

/* Footer additionals end here */

.mid-content{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-right: 110px;
    margin-left: 86px;
    /* background-color:aquamarine */
}
.mid-content .topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}
.left-topbar{
    height: 100%;
    width: max-content;
}
.left-topbar .active-btn{
    margin: 8px 6px 8px 3px;
    height: 34px;
    width: 65px;
    border-radius: 20px;
    border: 1px solid #dee7f6;
    background-color: #dee7f6;
    color: var(--fbblue-color);
    font-family: var(--fb-font);
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 0.5px;
}
.left-topbar button{
    margin-right: 6px;
    border:0;
    outline: none;
    background-color: transparent;
    height: 34px;
    width: 75px;
    color: var(--fbblue-color);
    font-family: var(--fb-font);
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #8a8d91;
    letter-spacing: 0.5px;
}
.left-topbar button:hover{
    border: 1px solid #dee7f6;
    background-color: #dee7f6;
    border-radius: 20px;
}
.right-topbar{
    height: 100%;
}
.right-topbar button{
    height: 34px;
    width: 44px;
    margin-top: 8px;
    margin-right: 6px;
    border: 1px solid #e4e6eb;
    background-color: #e4e6eb;
    cursor: pointer;
    border-radius: 8px;
}
.right-topbar img{
    width:16px;
    height: 15px;
    margin-top: 7px;
}
.right-topbar button:hover{
    border: 1px solid #dee7f6;
    background-color: #dee7f6;
}

.mid-content hr{
    width: 100%;
    color: #e7e9ec;
    margin-bottom: 10px;
}

/* Midbar - Story Cards Starts Here */

.story-cards{
    display: flex;
    height: 232px;
    width: 100%;
    position: relative;
}
.story-cards .story-one{
    flex-direction: column;
    height: 198px;
    width:110px;
    margin-top: 17px;
    margin-right: 10px;
    margin-left: 3px;
    border-radius: 12px;
    border:1px solid transparent;
    overflow: hidden;
    position: relative;
    box-shadow:0px 2px 0px #fff;
    cursor: pointer;
    /* background-color: tan; */
}
.story-one img{
    height: 150px;
}
.story-one .plus{
    width:35px;
    height: 35px;
    border:4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 131px;
    left: 32px;
}
.story-one h6{
    color: #385898;
    font-family: var(--fb-font);
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    font-size: 12px;
    padding: 19px 20px;
    background-color: #fff;
    /* border:2px solid #fff; */
    
}

.story-two, .story-three, .story-four, .story-five{
    height: 198px;
    width:110px;
    margin-top: 17px;
    margin-right: 10px;
    margin-left: 3px;
    border-radius: 12px;
    border:1px solid transparent;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.story-two img, .story-three img, .story-four img, .story-five img{
    height: 198px;
}
.story-two .story-author, .story-three .story-author, .story-four .story-author, .story-five .story-author{
    z-index: 10;
    width:38px;
    height: 38px;
    position: absolute;
    top: 14px;
    left: 9px;
    border:4px solid #2376d6;
    border-radius: 50%;
}
.story-two span, .story-three span, .story-four span, .story-five span{
    font-family: var(--fb-font);
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 15px;
    left: 15px;
    text-align: center;
    max-width: 100px;
    z-index: 10;
    /* max-width: fit-content; */
}

.story-more{
    height: 48px;
    width: 48px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: -10px;
    top: 94px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 1px 1px #7a8087; */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.story-more .fas{
    padding:17px 16px;
    color: #7a8087;
}
.story-more title{
    border-radius: 50%;
}

.story-more .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;  
    /* Position of the tooltip */
    position: absolute;
    z-index: 1;
    right:-25px;
    top: 50px;
  }
  .story-more:hover .tooltiptext {
    visibility: visible;
  }

/* Midbar - Story Cards Ends Here */

/* Post Share(PhotoVideo/Live/FeelingActivity) Box Starts Here */

/* Statusbox */
.postshare-box{
    height: 124px;
    width: auto;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}
.postshare-box .statusbox{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 13px;
    margin-left: 12px;
}
.postshare-box .statusbox img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid transparent;
    margin-right: 10px;
}
.statusbox input{
    height: 40px;
    width: 545px;
    border-radius: 20px;
    border:1px solid transparent;
    background-color: var(--bg-color);
    padding:12px 0px 9px 12px;
}
.statusbox input:focus{
    border: 0;
    outline: none;
}
.statusbox input::placeholder{
    font-family: var(--fb-font);
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #65676b;
    font-style: normal;
}

/* statusbox ends */

.postshare-box hr{
    width: 90%;
    margin: 13px auto;
    outline: none;
    color: var(--bg-color);
}

/* Post Live Feeling */
.postshare-box .post-live-feel{
    margin:0 12px;
    width: 595px;
    height: 40px;
    margin-top:-4px;
    display: flex;
    justify-content: space-between;
}
.live-video, .photo-video, .feeling-activity{
    height: auto;
    width: 180px;
    background-color: transparent;
    border: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.live-video:hover, .photo-video:hover, .feeling-activity:hover{
    border-radius: 8px;
    background-color: var(--bg-color);
    border: 1px solid transparent;
}
.live-video img, .photo-video img, .feeling-activity img{
    width: 28px;
    height: 28px;
    margin-right: 5px;
}
.live-video span, .photo-video span, .feeling-activity span{
    font-family: var(--fb-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #65676b;
    font-style: normal;
}

/* Post Share(PhotoVideo/Live/FeelingActivity) Box Ends Here */


/* Create Room Box Starts Here */

.mid-content .room-box{
    width: auto;
    height: 64px;
    background-color: #fff;
    margin-top: 16px;
    border-radius: 10px;
    box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.room-box .create-room{
    height: 37px;
    width: 240px;
    border-radius: 16px;
    background-color: transparent;
    border:2px solid #dcdfe2;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fb-font);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #216fdb;
    font-style: normal;
    margin-right: 6px;
    padding-right: 3px;
}
.create-room img{
    height: 28px;
    width: 26px;
    margin-right: 8px;
    margin-left: 9px;
}
.room-users{
    overflow: hidden;
    height: 40px;
    width: auto;
}
.room-users img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin:0 3px;
}

/* Room Users Next Prev Button */
.room-users-next{
    height: 48px;
    width: 48px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 25px;
    top: 10px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 1px 1px #7a8087; */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    z-index: 10;
    border:0.5px solid #7a8087;
}
.room-users-next .fas{
    padding:17px 19px;
    color: #7a8087;
}
.room-users-prev{
    height: 48px;
    width: 48px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 25px;
    top: 10px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 1px 1px #7a8087; */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    z-index: 10;
    border:0.5px solid #7a8087;
    visibility: hidden;
}
.room-users-prev .fas{
    padding:17px 19px;
    color: #7a8087;
}


/* Create Room Box Ends Here */

/* Normal Post Starts Here */

.normal-post{
    width: 100%;
    height: 803px;
    background-color: #fff;
    margin-top: 16px;
    border-radius: 10px;
    box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    grid-template-rows: 0.6fr 1fr 5fr 0.6fr 0.6fr;
}
.normal-post img{
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: 2; */
    /* Grid Simplifies */
    grid-area: 1/1/2/2;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin: 11px 10px;
}
.normal-post .name-time-web{
    grid-area: 1/2/2/3;
    margin-top: 13px;
    margin-left: 5px;
}
.name-time-web span{
    font-family: var(--fb-font);
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #050505;
    font-style: normal;
}
.name-time-web .time-web{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.time-web a{
    text-decoration: none;
    font-family: var(--fb-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #65676b;
    font-style: normal;
    padding-right: 5px;
}
.time-web .fas{
    color:#626973;
}
.normal-post .optionslist-btn{
    grid-area: 1/3/2/4;
    height: 42px;
    width: 42px;
    margin: auto;
}
.normal-post .optionslist-btn .fas{
    color:#61676e;
    padding: 14px;
}
.normal-post .optionslist-btn .fas:hover{
    border-radius: 50%;
    background-color: var(--bg-color);
}










/* .post-details{
    display: flex;
    height:51px;
    background-color: rgb(150, 150, 149);
    width: 100%;
    margin-top: 10px;
    margin-left: 13px;
}
.post-details img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-right: 10px;
} */












/* Right Contents Starts Here */
.right-content{
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
}
.right-content span{
    margin-top: 19px;
    font-family: var(--fb-font);
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #65676b;
    font-style: normal;
}
.right-content hr{
    margin-top: 15px;
    color: #e7e9ec;
    width: 100%;
    /* margin-bottom: 10px; */
}
/* .rightside-mypages{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rightside-mypages span{
    font-family: var(--fb-font);
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #65676b;
    font-style: normal;
}
.shortcuts-mypages{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.shortcuts-mypages-one img{
    width: 36px;
    height: 36px;
    margin-right: 12px;
    margin-top: 9px;
    margin-left: 3px;
}
.shortcuts-mypages-one{
    font-family: var(--fb-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--text-color);
    font-style: normal;
    height: 54px;
    width: 338px;
    cursor: pointer;  
}
.shortcuts-mypages-one:hover{
    background-color: #e5e6ea;
    border-radius: 4px;
} */