*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    /* font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif; */
}
body{
    background: #f1f2f6;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

/* Navigation Bar Starts Here*/

nav{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 57px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /* justify-content: space-between; */
}

/* Left Navbar */
nav .left-header{
    display: flex;
    align-items: center;
    margin: 0 12px;
    flex-basis: 29%;
}
.left-header img{
    width: 38px;
    margin-right: 10px;
}
.left-header .search-box{
    width: 242px;
    height: 38px;
    border-radius: 20px;
    background-color: #f1f2f7;
    display: flex;
    align-items: center;
    padding:0 15px;
    border: 1px solid #f1f2f7;
}
.search-box .fas{
    margin-right: 5px;
    color: #7a8087;
}
.search-box input{
    border:0;
    outline: none;
    /* background-color: #f1f2f7; */
    background: transparent;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0px;
    color: #7a8087;
}

/* middle navbar */

nav .center-header{
    display: flex;
    /* justify-content:space-between;
    height: auto; */
}
.center-header .homeborder{
    max-width: 110px;
    height: 57px;
    background: transparent;
    border-radius: 10px 10px 0px 0px;
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    border-bottom: 3px solid #1878f3;
}
.homeborder img, .groupsborder img, .pagesborder img, .marketborder img, .watchborder img{
    width: 30px;
    /* color: #1979f3; */
}
.pagesborder:hover, .watchborder:hover, .marketborder:hover, .groupsborder:hover{
    background-color: #f1f2f6;
    border-radius: 10px;
}

.pagesborder, .watchborder, .marketborder, .groupsborder{
    max-width: 110px;
    height: 57px;
    /* border-radius: 10px; */
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    /* background-color: teal; */
}
/* .center-header .watchborder{
    max-width: 110px;
    height: 57px;
    border-radius: 10px;
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    background-color: teal;
}
.center-header .marketborder{
    max-width: 110px;
    height: 57px;
    border-radius: 10px;
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    background-color: teal;
}
.center-header .groupsborder{
    max-width: 110px;
    height: 57px;
    border-radius: 10px;
    padding: 12px 40px 0px 40px;
    margin-right: 8px;
    background-color: teal;
} */






/* Navigation Bar End Here*/